:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

body {
  min-width: 320px;
  cursor: default;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}
